html {
	font-size: 10px;
}
.block {
	max-width: 60rem;
	margin: 0 auto;
}
.header {
	background-color: black;
	padding: .5rem 0rem 2rem 0rem;
	border-bottom: .2rem solid yellow;
}
.header__logo {
	color: yellow;
	font-family: 'Lora', serif;
	font-size: 3.5rem;
}
.header__nav {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	text-align: right;
}
.header__nav__link {
	padding: .75rem;
}
.big {
	font-family: 'Oswald', sans-serif;
}
.subheader {
	background-color: #A9A9A9;
	color: black;
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 1.8rem;
	text-align: center;
	padding: 1rem;
}
.subheader__text__taste {
	color: #545454;
	text-decoration: line-through
}
.subheader__text__are {
	border-bottom: 2px solid yellow;
}
.image {
	background-image: url(../assets/coworking.jpg);
	padding: 2rem;
	box-sizing: border-box;
}
.image__box {
	background-color: white;
	opacity: 0.75;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	padding: 2.5rem 2rem;
	max-width: 30%;
	box-shadow: 2px 2px 5px #888888;
  	
}
.image__box__heading {
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.image__box__paragraph {
	font-size: 1.5rem;
}
.button {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	padding: 1rem 2rem;
	margin: 1rem;
	border-radius: .3rem;
	display: inline-block;
	box-shadow: 2px 2px 5px #888888;
}
.image__box__button {
	background-color: yellow;
	
}
.columns {
	background-color: white;
	box-sizing: border-box;
}
.col {
	font-family: 'Lora', serif;	
	padding: 2rem;
	max-width: 33%;
}
.col__heading {
	font-size: 2rem;
	font: serif;
}
.col__paragraph {
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
}
.col__button {
	background-color: #A9A9A9;
}
.col--border {
	border-right: 2px solid #A9A9A9;
}
.footer {
 	background-color: black;
}
.footer__text {
	color: white;
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 1rem;
}